@import "../style/index";

.article-page {
  margin-bottom: 118px;

  &__start {
    display: flex;
  }

  &__hero {
    text-align: right;
    flex: 1;
  }

  &__hero-inner {
    height: 408px;
    margin-left: -10%;
  }

  &__hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__body {
    margin: 124px auto 0 auto;
    max-width: 760px;
  }

  &__title-wrapper {
    flex: 1;
    z-index: 1;
  }

  &__title {
    font-size: 72px;
    line-height: 88px;
    font-weight: bold;
    margin: 0 -22% 0 0;
    font-family: GoshaSans, Montserrat, sans-serif;
  }
}
